# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments & Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite Database & local instances
instance/
*.db
*.sqlite

# Ruff caching
.ruff_cache/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Pre-commit cache
.pre-commit/

# IDE / Editor configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
